In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import dask.dataframe as dd
import pandas as pd
import numpy as np
import subprocess
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
from Bio.Seq import Seq
from dask.distributed import wait
from dask.distributed import Client
import os

sys.path.append("../scripts")
%aimport initial_map
%aimport map_refiner
%aimport complexity
%aimport finder
%aimport preprocess

import glob
from tqdm import tqdm  # progress bar

In [3]:
import duckdb
from concurrent.futures import ThreadPoolExecutor, as_completed

# intial map

In [6]:
glob.glob("/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_step1*.assembled.*")

['/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_step1_S1.fastq.gz.assembled.fastq']

In [7]:
mapper = initial_map.BarcodeMapper(seq_file = "/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_step1_S1.fastq.gz.assembled.fastq",
                        bc_names = ["AD", "AD_BC", "RPTR_BC"],
                        preceders = ["AGGAGCA", "GGCCTC", "CTCGAG"],
                        posts = ["TGATAAG", "GGGCCC", "GGCCGC"],
                        lengths = [120, 11, 14],
                      reverse_complement = False,
                      txt_path = "../data/plasm_step1_reads_shortened.txt")
mapped_df = mapper.create_map()
mapped_df.head()

fastq file detected. Will shorten to txt file and save at ../data/plasm_step1_reads_shortened.txt

,AD,AD_qual,AD_BC,AD_BC_qual,RPTR_BC,RPTR_BC_qual,Designed
0,AATCATCGGGATTTTAACAAGAACATACTGAATATTACTTGTTATA...,True,GCCGCGCCAGC,True,ACCACCTTCATTGA,True,0
1,<NA>,False,ACGAGAGATGG,True,CTAAGATAATCACG,True,0
2,GAACGGCATAAGGAGAACGTACAGAATAAGATAAAGCAAATCGATA...,True,CACGACACCAC,True,CAGTGGACCCTGTG,True,0
3,GTTATCTGCATAGATACCTTCCTACAGACCAAAAAGTACATGCTCA...,True,TGCCATCCCTT,True,GGATTTCTAGTCCC,True,0
4,AAGGAAAACTTCCTTACAGATATTAACGAGGCTTCCAAGAAGAACC...,True,CCTCTTTCTGC,True,GTCGTGGCCACCAC,True,0

In [17]:
with ProgressBar():
    mapped_df.to_parquet(
        '/global/scratch/projects/fc_mvslab/OpenProjects/Sanjana/TREBL/data/Plasm_step1_S1.parquet',
        engine='pyarrow',
        write_index=False
    )

[########################################] | 100% Completed | 117.98 s

# refining map

In [8]:
! rm /global/scratch/projects/fc_mvslab/OpenProjects/Sanjana/TREBL/duckdb/Plasm_step1_S1.db

In [27]:
refiner = map_refiner.MapRefiner(db_path = "/global/scratch/projects/fc_mvslab/OpenProjects/Sanjana/TREBL/duckdb/Plasm_step1_S1.db",
                     cols = ["AD", "AD_BC", "RPTR_BC"],
                     reads_threshold = 5,
                     column_pairs = [("AD", "AD_BC"), ("AD_BC", "RPTR_BC")],
                    design_check = False)

In [28]:
refiner.refine_map_from_parquet('/global/scratch/projects/fc_mvslab/OpenProjects/Sanjana/TREBL/data/Plasm_step1_S1.parquet/*')

Refining maps:  20%|██        | 1/5 [00:01<00:06,  1.70s/step]

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Refining maps:  40%|████      | 2/5 [00:06<00:09,  3.26s/step]

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

Refining maps: 100%|██████████| 5/5 [00:12<00:00,  2.54s/step]

In [29]:
refiner.get_map_df('map5_thresholded')

,AD,AD_BC,RPTR_BC,count
0,AATAATGACGTCATAACGAAGACGTTGTCAAGGATGAGACTATCAA...,ATCGCGTCTAT,CGTTCGCTGTGCCT,206
1,AAAGAGGTGATGTTTGAAAAGTACAACAAGCTGCTTTCGTCTTATA...,GCGGGAGGTCA,AGCTCACGGCGAAA,185
2,GAGAAGAACAACCTGAACGATTTGCTCTCGTAGATAACGATAAATC...,TCAGAACAACG,GCACGGACCGAGAC,135
3,CCTAAGAATGAGATCGACAAAAACGACGAGGAAAATCTTAAAGAAT...,CCAGCAATACG,TGCTTGTGTGACTT,134
4,TCGATATTCCCGACCAGGACTTTCCCTATATAATTGCGTGGATTCT...,ACACATCGTCT,GAACACCTGCGGCT,131
...,...,...,...,...
175791,ATAGCAGGGTTGAAACGGATGGGCATCTCAACGTTGGGCGGCAAGG...,TGGGTGGGGCA,CAGATACTCAAGCG,6
175792,TTCTCCAAAAATGGCAGCATGAGTTCTATACCTAGTGACTACAACA...,AACTAGTGAGC,CAAACGACGCGAAT,6
175793,TCCGAGTATGAGGAGTTAGACATAAACGACATCTATGTTCCACGGG...,CAGCCGACACC,AAGGCACTGTCTCT,6
175794,TCCGAGGCTGCTGGGGGTGCGTCGGAAGGAGTGTTTAGAGAAGCAG...,ACCTGCTTGCT,CCCCTACAACGACT,6
175795,CTGATTCCGGACTATTTCCTTAAGAATACCGTACAGGAGGACGAGA...,TTTGACATGTA,TGCCATACCCCAGC,6

# Step 2

In [121]:
plasm_step2_paths = ["/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_RP_step2_S4.fastq.gz.assembled.fastq",
                    "/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_AD_step2_S3.fastq.gz.assembled.fastq"]
plasm_step2_paths

['/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_RP_step2_S4.fastq.gz.assembled.fastq',
 '/global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_AD_step2_S3.fastq.gz.assembled.fastq']

In [122]:
plasm_step2_paths[0].split(".")[-1]

'fastq'

In [153]:
plasm_AD_step2_dd = preprocess.load_and_shorten_files(plasm_step2_paths,
                                  reverse_complement=True,
                                  txt_path = "../data/plasm_step2_AD.txt")

Shortening /global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_AD_step2_S3.fastq.gz.assembled.fastq -> ../data/plasm_step2_AD_1.txt
Shortening /global/scratch/projects/fc_mvslab/data/sequencing/czb_new_sept2025/Marissa/results/Plasm_RP_step2_S4.fastq.gz.assembled.fastq -> ../data/plasm_step2_AD_0.txt
('../data/plasm_step2_AD_0.txt', '../data/plasm_step2_AD_1.txt')

In [182]:
plasm_AD_step2_dd = finder.add_barcode(plasm_AD_step2_dd, "RP_BC", "CTCGAG", "GGCCGC", 14)
plasm_AD_step2_dd = finder.add_barcode(plasm_AD_step2_dd, "AD_BC", "GGCCTC", "GGGCCC", 11)
plasm_AD_step2_dd.head()

,sequence,RP_BC,RP_BC_qual,AD_BC,AD_BC_qual
0,ATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCCAC...,<NA>,False,<NA>,False
1,ATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCCAC...,<NA>,False,<NA>,False
2,CTATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCC...,CACATAACCCGTCA,True,<NA>,False
3,CTATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCC...,CCACTCTCGGATCT,True,<NA>,False
4,TATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCCA...,<NA>,False,<NA>,False

In [185]:
plasm_AD_step2_dd.head()

,sequence,RP_BC,RP_BC_qual,AD_BC,AD_BC_qual
0,ATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCCAC...,<NA>,False,<NA>,False
1,ATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCCAC...,<NA>,False,<NA>,False
2,CTATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCC...,CACATAACCCGTCA,True,<NA>,False
3,CTATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCC...,CCACTCTCGGATCT,True,<NA>,False
4,TATGGTGATGGTCCAGTCTTGTTACCAGACAACCATTACTTATCCA...,<NA>,False,<NA>,False

# next steps:

- add to compexity.py
- check one bc type at a type
- how many RP bc from map1? of total RP bc
- how many AD bc from map1? of total AD bc
- how many unique AD bc-RP bc pairs are in map 1? of total AD bc-RP bc pairs